In [15]:
#1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]


sorted_ages = sorted(ages)
min_age = sorted_ages[0]
max_age = sorted_ages[-1]
print("Min age:", min_age)
print("Max age:", max_age)


ages.append(min_age)
ages.append(max_age)
print("Updated list with min and max ages added:", ages)


n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print("Median age:", median_age)


average_age = sum(ages) / len(ages)
print("Average age:", average_age)


age_range = max_age - min_age
print("Age range:", age_range)

Min age: 19
Max age: 26
Updated list with min and max ages added: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
Median age: 25.5
Average age: 22.75
Age range: 7

In [14]:
#2
dog = {}
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3


student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 25,
    'marital_status': 'Single',
    'skills': ['Programming', 'Data Analysis'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main Street'
}


student_length = len(student)
print("Length of student dictionary:", student_length)


skills_value = student['skills']
print("Skills:", skills_value)
print("Data type of skills:", type(skills_value))


student['skills'].extend(['Communication', 'Problem Solving'])


keys_list = list(student.keys())
print("Keys:", keys_list)


values_list = list(student.values())
print("Values:", values_list)

Length of student dictionary: 9
Skills: ['Programming', 'Data Analysis']
Data type of skills: <class 'list'>
Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values: ['John', 'Doe', 'Male', 25, 'Single', ['Programming', 'Data Analysis', 'Communication', 'Problem Solving'], 'USA', 'New York', '123 Main Street']

In [1]:
# 3
sisters = ('Alice', 'Emily')
brothers = ('Jack', 'Henry', 'Oliver')


siblings = brothers + sisters


num_siblings = len(siblings)
print("Number of siblings:", num_siblings)


father = 'John'
mother = 'Jane'
family_members = (father, mother) + siblings

print("Family members:", family_members)

Number of siblings: 5
Family members: ('John', 'Jane', 'Jack', 'Henry', 'Oliver', 'Alice', 'Emily')

In [2]:
#4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)


it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)


it_companies.update(['LinkedIn', 'Snapchat', 'Netflix'])
print("it_companies after adding multiple companies:", it_companies)

it_companies.remove('Snapchat')
print("it_companies after removing 'Snapchat':", it_companies)


it_companies.discard('Twitter')


union_AB = A.union(B)
print("Union of A and B:", union_AB)


intersection_AB = A.intersection(B)
print("Intersection of A and B:", intersection_AB)


subset_check = A.issubset(B)
print("Is A subset of B?", subset_check)


disjoint_check = A.isdisjoint(B)
print("Are A and B disjoint sets?", disjoint_check)


A_B = A.union(B)
B_A = B.union(A)
print("A union B:", A_B)
print("B union A:", B_A)


symmetric_difference_AB = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference_AB)

del it_companies
del A
del B


age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
it_companies after adding 'Twitter': {'Microsoft', 'Google', 'Amazon', 'Apple', 'Facebook', 'Twitter', 'IBM', 'Oracle'}
it_companies after adding multiple companies: {'Netflix', 'Microsoft', 'Apple', 'Facebook', 'LinkedIn', 'Oracle', 'Google', 'Amazon', 'Twitter', 'IBM', 'Snapchat'}
it_companies after removing 'Snapchat': {'Netflix', 'Microsoft', 'Apple', 'Facebook', 'LinkedIn', 'Oracle', 'Google', 'Amazon', 'Twitter', 'IBM'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint sets? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [11]:

#5
import math


radius = 30


area_of_circle = math.pi * radius ** 2


circum_of_circle = 2 * math.pi * radius

print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)


user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius ** 2

print("Area of the circle with user input radius:", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 25
Area of the circle with user input radius: 1963.4954084936207

In [4]:
#6
sentence = "I am a teacher and I love to inspire and teach people"


words = sentence.split()


unique_words = set(words)


num_unique_words = len(unique_words)

print("Number of unique words:", num_unique_words)

Number of unique words: 10

In [5]:
#7
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [6]:
#8
radius = 10
area = 3.14 * radius ** 2


result = f"The area of a circle with radius {radius} is {area} square meters."
print(result)

The area of a circle with radius 10 is 314.0 square meters.

In [16]:
# 9
N = int(input("Enter the number of students: "))


weights_lbs = []


for i in range(N):
    weight_lbs = float(input(f"Enter the weight of student {i+1} (in lbs.): "))
    weights_lbs.append(weight_lbs)

weights_kg = []
for weight_lbs in weights_lbs:
    weight_kg = weight_lbs * 0.45359237  # 1 lb = 0.45359237 kg
    weights_kg.append(weight_kg)

print("Weights in kilograms:", weights_kg)

Enter the number of students: 4
Enter the weight of student 1 (in lbs.): 150
Enter the weight of student 2 (in lbs.): 155
Enter the weight of student 3 (in lbs.): 145
Enter the weight of student 4 (in lbs.): 148
Weights in kilograms: [68.0388555, 70.30681735, 65.77089365, 67.13167076]